{% extends 'base.html' %}

{% block content %}

<h4 class="fw-bold py-3 mb-2">Date Filter</h4>


<a href="{% url 'income-filter' %}" class="btn btn-primary">
    <span class="tf-icons bx bx-filter"></span>&nbsp; Filter
</a>

<div class="row">
  <div class="col">
   <h6 class="fw-bold py-3">{{date_field}} / Reports<a href="{% url 'date-income-download' date_field %}"><i style="font-size:23px;" class='bx bxs-download'></i></a></h6>
</div>
<div class="col">
  <h6 class="fw-bold" style="text-align: right;">Total : <i class="bi bi-currency-rupee" ></i>{{total_amount}}</h6>
</div>

</div>



<div class="card">
    <div class="table-responsive text-nowrap mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Remarks</th>
                    <th>Amount</th>
                    <th>AC Type</th>
                    <th>Date</th>
                    <th>Amount Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for data in income_data %}
                        <tr>
                            <td>{{data.category}}</td>
                            <td>{{data.remark}}</td>
                            <td>{{data.amount}}</td>
                            <td><span class="badge rounded-pill bg-label-primary me-1">  <i class="bi bi-currency-rupee" ></i>{{data.status}}</span></td>
                            <td>{{data.created_by}}</td>

                            {% if data.amount_status == "bank" %}
                            <td><span class="badge rounded-pill bg-label-dark">{{data.amount_status}}</span></td>

                            {% elif data.amount_status == "savings" %}
                            <td><span class="badge rounded-pill bg-label-success">{{data.amount_status}}</span></td>

                            {% else %}
                               <td><span class="badge rounded-pill bg-label-info">{{data.amount_status}}</span></td>
                            {% endif %}

                             <td><a href="{% url 'income-edit-data' data.id %}" class="btn btn-sm btn-primary" ><i class='bx bxs-edit'></i></a></td>
                             <td><a href="{% url 'income-delete-data' data.id %}" class="btn btn-sm btn-danger" ><i class='bx bxs-trash'></i></a></td>
                        </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}